<div class="termine-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="mydatum" class="col-sm-2 col-form-label">Datum:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="mydatum"
               formControlName="Datum"
               bsDatepicker [bsConfig]="datePickerConfig"
               [bsValue]="Datum"
               [value]="Datum" />
      </div>
    </div>

    <div class="form-group row">
      <label for="idGruppe" class="col-sm-2 col-form-label">Gruppe:</label>
      <div class="col-sm-3">
        <input type="text" id="idGruppe"
               formControlName="IdGruppe" required
               placeholder="Id der Gruppe eingeben..."
               class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="idTeilnehmer" class="col-sm-2 col-form-label">Teilnehmer:</label>
      <div class="col-sm-3">
        <input type="text" id="idTeilnehmer"
               formControlName="IdTeilnehmer" required
               placeholder="Id des Teilnehmers eingeben..."
               class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="idAktivitaet" class="col-sm-2 col-form-label">Aktivität:</label>
      <div class="col-sm-3">
        <input type="text" id="idAktivitaet"
               formControlName="IdAktivitaet" required
               placeholder="Id der Aktivität eingeben..."
               class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label for="hinweis" class="col-sm-2 col-form-label">Hinweis:</label>
      <div class="col-sm-3">
        <input type="text" id="hinweis"
               formControlName="Hinweis"
               placeholder="Hinweis eingeben..."
               class="form-control" />
      </div>
    </div>

    <div class="form-group commands">
      <button *ngIf="editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-save"></i>
        Speichern
      </button>
      <button *ngIf="!editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-plus-circle"></i>
        Aktivität erstellen
      </button>
      <!--<button *ngIf="!editMode" type="submit"-->
      <button type="submit"
              (click)="onBack()"
              class="btn btn-secondary">
        <i class="fas fa-arrow-alt-circle-left"></i>
        Zurück
      </button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <pre class="code-preview">{{form.value | json}}</pre>
  </div>
</div>

