<div class="teilnehmer-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="vorname">Vorname:</label>
      <br />
      <input type="text" id="vorname"
             formControlName="Vorname" required
             placeholder="Vorname eingeben..."
             class="form-control" />
    </div>
    <div class="form-group">
      <label for="nachname">Nachname:</label>
      <br />
      <input type="text" id="nachname"
             formControlName="Nachname" required
             placeholder="Nachname eingeben..."
             class="form-control" />
    </div>
    <div class="form-group commands">
      <!--<button *ngIf="editMode" type="submit"-->
      <button type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-save"></i>
        Speichern
      </button>
      <!--<button *ngIf="!editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-plus-circle"></i>
        Speichern
      </button>-->
      <!--<button *ngIf="!editMode" type="submit"-->
      <button type="submit"
              (click)="onBack()"
              class="btn btn-secondary">
        <i class="fas fa-arrow-alt-circle-left"></i>
        Zurück
      </button>
    </div>
  </form>
</div>
