<h3>Liste der möglichen Aktivitätscodes</h3>
<div *ngIf="code_aktivitaeten.length > 0">
  <div class="table-responsive">
    <table class="table table-hover questions">
      <thead>
      <tr>
        <th>Text</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let aktivitaet of code_aktivitaeten">
        <td>{{aktivitaet.Bezeichnung}}</td>
        <td>
          <input type="button" value="Edit"
                 (click)="onEdit(aktivitaet)"
                 class="btn btn-sm btn-warning"/>
        </td>
        <td>
          <input type="button" value="Delete"
                 (click)="onDelete(aktivitaet)"
                 class="btn btn-sm btn-danger"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="code_aktivitaeten.length == 0">
  Diese Gruppe hat (noch) keine Aktivitäten: klicke auf <strong>Neue Aktivität erstellen</strong> Button um die Erste zu erfassen!
</div>

<button (click)="onCreate()" class="btn btn-sm btn-primary">
  <i class="fa fa-plus-circle"></i>
  Neue Aktivität erstellen
</button>

