<div class="gruppe-edit">
  <h2>{{title}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="code">Kurzbezeichnung:</label>
      <br />
      <input type="text" id="code"
             formControlName="Code" required
             placeholder="Kurzbezeichnung eingeben..."
             class="form-control" />
    </div>
    <div class="form-group">
      <label for="bezeichnung">Bezeichnung:</label>
      <br />
      <input type="text" id="bezeichnung"
             formControlName="Bezeichnung" required
             placeholder="Bezeichnung eingeben..."
             class="form-control" />
    </div>
    <div class="form-group">
      <label for="beschreibung">Gruppenbeschreibung:</label>
      <br />
      <textarea id="beschreibung"
                formControlName="Beschreibung"
                placeholder="Beschreibung eingeben..."
                class="form-control"></textarea>
    </div>

    <!--<div class="form-group">
      <label for="gender1" class="col-sm-2 control-label">Gender:</label>
      <div class="col-sm-2 input-group">
        <select class="form-control inputstl" id="gender1">
          <option>Male</option>
          <option>Female</option>
        </select>

      </div>
    </div>-->
    <div class="form-group commands">
      <button *ngIf="editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-save"></i>
        Speichern
      </button>
      <button *ngIf="!editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        <i class="fas fa-plus-circle"></i>
        Gruppe erstellen
      </button>
      <button *ngIf="!editMode" type="submit"
              (click)="onBack()"
              class="btn btn-default">
        <i class="fas fa-arrow-alt-circle-left"></i>
        Zurück
      </button>
    </div>
  </form>

  <termin-liste *ngIf="editMode" [myGruppe]="gruppe"></termin-liste>
  <teilnehmer-liste *ngIf="editMode" [myGruppe]="gruppe" ></teilnehmer-liste>
  <code_aktivitaeten-liste *ngIf="editMode" [myGruppe]="gruppe" ></code_aktivitaeten-liste>

</div>
