<!--<h2>{{title}}</h2>
<ul class="gruppen">
  <li *ngFor="let gruppe of gruppen"
      [class.selected]="gruppe === selectedGruppe"
      (click)="onSelect(gruppe)">
    <span>{{gruppe.Bezeichnung}}</span>
  </li>
</ul>-->


<h2>{{title}}</h2>
<div *ngIf="gruppen.length > 0">
  <div class="table-responsive">
    <table class="table table-hover gruppen">
      <thead>
      <tr>
        <th>Code</th>
        <th>Text</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gruppe of gruppen"
          [class.selected]="gruppe === selectedGruppe"
          (click)="onSelect(gruppe)">
        <td>{{gruppe.Code}}</td>
        <td>{{gruppe.Bezeichnung}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




<!--<gruppe *ngIf="selectedGruppe" [gruppe]="selectedGruppe"></gruppe>-->
